
nav .searchbar {
    position: relative;
}

/* Styling the search box where the 
    input would be given */
nav .searchbar input[type="text"] {
    border: 0;
    padding: 0;
    width: 0px;
    height: 35px;
    border-radius: 16px;
    transition: all 0.3s ease;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

/* Styling the search bar icon */
nav .searchbar .icon {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
    background: none;
    border-radius: 3px;
    color: #fff;
    transition: all 0.5s 0.3s ease;
    margin-right:10px;
}
  
nav .searchbar .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
  
nav .searchbar .icon.active {
    background: #062333;
    transition: all 0.3s ease;
}
  
nav .searchbar input[type="text"].active {
    margin-right:3px;
    width: 45vw;
    max-width:  245px;
    padding: 0 10px;
    transition: all 0.3s 0.2s ease;
    -webkit-transition: all 0.3s 0.2s ease;
    -moz-transition: all 0.3s 0.2s ease;
    -ms-transition: all 0.3s 0.2s ease;
    -o-transition: all 0.3s 0.2s ease;
}
  
/* .filtered-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  max-height: 200px;
  overflow-y: auto;
}

.filtered-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.filtered-item:last-child {
  border-bottom: none;
}

.filtered-item:hover {
  background-color: #f5f5f5;
} */

.result-list{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.result-list a{
  color:black;
}
